<!DOCTYPE html>

<html>
	<head>
		<title>Flask app</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	</head>
	<style>

	</style>
	<body>
		<div id="app">
			<h1>Partisan Voting in Michigan</h1>
			<h2>An informal research project covering electoral cycles between 2014 and 2024.</h2>
			<div id="main">{% block content %}{% endblock %}</div>
		</div>
	</body>
</html>
